/*******************************************************TAG SELECTORS*******************************************************/

body {
  background-color: #e0e2e4;
}

/*
hr {
  border-style: dotted none none none;
  width: 5%;
  border-top-width: 5px;
  border-color: gray;
}
*/

h1, h3 {
  color: #625750;
}

img:hover {
  background-color: blue;
}

td {
 width: 300px;
 overflow: hidden;
}

a {
  text-decoration: underline; color: blue
}


/*******************************************************CLASS SELECTORS*******************************************************/

.header {
  width: 175px;
}

.header2 {
  width: 300px;
}

.even {
  border-style: dotted none none none;
  width: 5%;
  border-top-width: 5px;
  border-color: #c6bcb6;
}

.odd {
  border-style: dotted none none none;
  width: 5%;
  border-top-width: 5px;
  border-color: #96897f;
}

.education {
  text-align: center;
}

.workhistory {
  text-align: center;
}

.skills {
  text-align: center;
  margin: 0 auto;
}


.boss {
  width: 150px;
}

.final {
  text-align: center;
}

.final1 {
  font-size: 25px;
  text-decoration: underline;
  margin-left: -20px;
}

.final2 {
  font-size: 25px;
  text-decoration: underline;
  margin-left: 150px;
}

.centerskills {
  text-align: center;
}
/*******************************************************ID SELECTORS*******************************************************/
